trigger:
  branches:
    include:
    - main
    - develop
  paths:
    include:
    - PlaywrightTests/**

pr:
  branches:
    include:
    - main
    - develop

schedules:
- cron: "0 2 * * *"
  displayName: Daily test run
  branches:
    include:
    - main
  always: false

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Debug'
  dotnetVersion: '8.0.x'
  testEnvironment: ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') 'prod' 'staging' }}

strategy:
  matrix:
    Chrome:
      browserType: 'chrome'
    Firefox:
      browserType: 'firefox'
    Edge:
      browserType: 'msedge'

steps:
- task: UseDotNet@2
  displayName: 'Install .NET SDK'
  inputs:
    version: '$(dotnetVersion)'
    packageType: sdk

- task: DotNetCoreCLI@2
  displayName: 'Restore NuGet packages'
  inputs:
    command: 'restore'
    projects: '**/PlaywrightTests.csproj'

- task: DotNetCoreCLI@2
  displayName: 'Build test project'
  inputs:
    command: 'build'
    projects: '**/PlaywrightTests.csproj'
    arguments: '--configuration $(buildConfiguration) --no-restore'

- script: |
    playwright install
  displayName: 'Install Playwright'
  workingDirectory: 'PlaywrightTests'

- task: DotNetCoreCLI@2
  displayName: 'Run Tests - $(browserType)'
  inputs:
    command: 'test'
    projects: '**/PlaywrightTests.csproj'
    arguments: '--configuration $(buildConfiguration) --no-build --logger trx --logger "console;verbosity=detailed"'
  env:
    PLAYWRIGHT_BROWSER: $(browserType)
    DOTNET_ENVIRONMENT: $(testEnvironment)

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  condition: always()
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/test-results.trx'
    mergeTestResults: true
    testRunTitle: 'Northumbria NHS Tests - $(browserType)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  condition: always()
  inputs:
    PathtoPublish: 'PlaywrightTests/**/TestResults'
    ArtifactName: 'test-results-$(browserType)'
    publishLocation: 'Container'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Extent HTML Report'
  condition: always()
  inputs:
    PathtoPublish: 'PlaywrightTests/**/TestResults/**/ExtentReport.html'
    ArtifactName: 'extent-report-$(browserType)'
    publishLocation: 'Container'
